[submodule "experiments_scheduling_suite"]
	path = experiments_scheduling_suite
	url = git@github.com:JekYUlll/experiments_scheduling_suite.git
[submodule "rl_sensor_scheduling_framework"]
	path = rl_sensor_scheduling_framework
	url = git@github.com:JekYUlll/rl_sensor_scheduling_framework.git
